<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html xmlns:th="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="utf-8">
    <meta name="description" content="Teacher's Time Table">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Teacher's Time Table</title>
</head>

<body class="frame-slave">

<p>
    Welcome to a Teacher's table.<br>
    Here you can:<br>
    &emsp;- do your timetable<br>
    &emsp;- count your minutes<br>
    &emsp;- check the final cheque<br>
</p>

<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

</body>

</html>