<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Teacher's Time Table">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

    <title>Add new teacher</title>
</head>

<body class="frame-slave">



<form action="/teacherAdd" th:object="${request}" method="post" class="">

    <h2>Add Teacher</h2>

    <!--input for input fields.-->
    <!--input type="text" name="name" - that name later be used to send this form.-->
    <!--placeholder="input your name" the text that appears inside of the text field before we write anything inside of it.-->
    <!--required - browser cant sent a from if this field is not filled..-->
    <div>
        <div class="row span-1-of-3">
            <label for="name">Name</label>
        </div>
        <div class="row span-2-of-3">
            <input type="text" name="name" id="name" placeholder=" Name"
                   th:field="${request.name}" required/>
        </div>
    </div>

    <div>
        <div class="row span-1-of-3">
            <label for="last-name">Last Name</label>
        </div>
        <div class="row span-2-of-3">
            <input type="text" name="last-name" id="last-name" placeholder=" Last name"
                   th:field="${request.lastName}" required/>
        </div>
    </div>

    <div>
        <div class="row span-1-of-3">
            <label for="phone-number">Phone number</label>
        </div>
        <div class="row span-2-of-3">
            <input type="tel" name="phone-number" id="phone-number" placeholder=" Phone number"
                   th:field="${request.phoneNumber}"/>
        </div>
    </div>

    <div>
        <div class="row span-1-of-3">
            <label for="email">E-mail</label>
        </div>
        <div class="row span-2-of-3">
            <input type="email" name="email" id="email" placeholder=" E-mail"
                   th:field="${request.email}"/>
        </div>
    </div>

    <div>
        <div class="row span-1-of-3">
            <label for="rate">Hour rate</label>
        </div>
        <div class="row span-2-of-3">
            <input type="number" step=".01" name="rate" id="rate" placeholder=" Hour rate €"
                   th:field="${request.hourRate}"/>
        </div>
    </div>

    <div>
        <div class="row span-05-of-3">
            <label>&nbsp;</label>
        </div>
        <div class="row">
            <input type="submit" value="Add teacher" class="btn-container">
            <a href="/teacherManage" class="btn-container">Back</a>
        </div>

    </div>


</form>

<label>&nbsp;</label>
<div class="form-messages success row" role="alert" th:text="${success}" th:if="${success}"></div>
<table th:if="${errors != null}" class="form-messages error">
    <tr th:each="error : ${errors}">
        <td th:text="${error.field}"></td>
        <td th:text="${error.message}"></td>
    </tr>
</table>


</body>

</html>